<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>Home Page</h1>
        {% comment %} <h2>Name is {{ name }}</h2>
        <h2>Age is {{ age }}</h2>
        <h2>Place is {{ place }}</h2> {% endcomment %}

        {% comment %} {% if num1 > 0 %}
        <h2>Positive number</h2>
        {% elif num1 < 0 %}
        <h2>Negative number</h2>
        {% else %}
        <h2>Nummber is Zero</h2>
        {% endif %} {% endcomment %}

        {% for n in num1 %}
            <h2>{{n}}
        {% endfor %}



</body>
</html>